﻿<!DOCTYPE html>
<html>
<head>
    <title>test page</title>
    <meta charset="utf-8" />

    <script src="Scripts/angular.js" type="text/javascript"></script>
    <script src="Scripts/angular-messages.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-aria.js"></script>
    <script src="Scripts/angular-cookies.js"></script>
    <script src="Scripts/angular-loader.js"></script>
    <script src="Scripts/angular-message-format.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-sanitize.js"></script>
    <script src="Scripts/angular-scenario.js"></script>



    <!--Angular material-->
    <link href="/Content/angular-material.min.css" rel="stylesheet" />
    <link href="/Content/angular-material.layouts.min.css" rel="stylesheet" />
    <script src="/Scripts/angular-material/angular-material.js"></script>

    <style type="text/css">
        .listdemoBasicUsage md-divider {
            margin-top: 10px;
            margin-bottom: 0;
        }
    </style>

    <script src="app.js" type="text/javascript"></script>
</head>
<body>
    <div ng-controller="AppCtrl" ng-cloak="" layout-gt-sm="row" layout="column" class="listdemoBasicUsage" ng-app="MyApp">

        <div flex-gt-sm="50" flex="">

            <div layout="row">
                <md-input-container>
                    <label>What</label>
                    <input ng-model="what">
                </md-input-container>

                <md-input-container>
                    <label>Note</label>
                    <input ng-model="notes" flex="">
                </md-input-container>

                <md-button class="md-raised md-cornered md-primary" ng-click="createMessage()">Next</md-button>
            </div>


            <md-toolbar layout="row" class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span>Messages</span>
                </div>
            </md-toolbar>

            <md-content>
                <md-list flex="">
                    <md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null">
                        <img ng-src="{{item.face}}" class="md-avatar" alt="{{item.who}}">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ item.who }} at {{ item.when }}</h3>
                            <h4>{{ item.what }}</h4>
                            <p>{{ item.notes }}</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-content>
        </div>
    </div>
</body>
</html>
